{% import "./sns.html" as sns %}
{% extends "!layout.html" %}

{%- block extrahead %}
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  {{ super() }}
  {{ sns.google_analytics() }}
{% endblock %}

{% block footer %}
<footer class="footer">
  {# {{ sns.twitter() }} #}
  {# {{ sns.facebook() }} #}
  <div class="container">
    <p class="pull-right"><a href="#">Back to top</a></p>
    <section id="sns" class="clearfix">
      {# <a href=""><i class="fa fa-rss-square", style="font-size: 50px"></i></a> #}
      <a href="http://github.com/her0e1c1"><i class="fa fa-github-square", style="font-size: 50px"></i></a>
      <a href="http://twitter.com/hiroyukiishi1"><i class="fa fa-twitter-square", style="font-size: 50px"></i></a>
      {# <a href=""><i class="fa fa-linkedin-square", style="font-size: 50px"></i></a> #}
      <a href="http://www.facebook.com/hiroyuki.ishii.71"><i class="fa fa-facebook-square", style="font-size: 50px"></i></a>
    </section>

    <p>
    {%- if show_copyright %}
      {%- if hasdoc('copyright') %}
        {% trans path=pathto('copyright'), copyright=copyright|e %}&copy; <a href="{{ path }}">Copyright</a> {{ copyright }}.{% endtrans %}<br/>
      {%- else %}
        {% trans copyright=copyright|e %}&copy; Copyright {{ copyright }}.{% endtrans %}<br/>
      {%- endif %}
    {%- endif %}
    {%- if last_updated %}
      {% trans last_updated=last_updated|e %}Last updated on {{ last_updated }}.{% endtrans %}<br/>
    {%- endif %}
    </p>
  </div>
</footer>
{% endblock %}
